<h1>Github Profile</h1>
  <h4><%= @github_user.name %></h4>
  <h5><%= @github_user.login %></h5>

  <div class="column one-fourth">
    <div class = "well">
      <h4>Account Information</h4>
        <img src="<%= @github_user.avatar_url %>" alt="Profile Image"/></img>
        <ul>
          <li>Name: <%= @github_user.name %></li>
          <li>Login: <%= @github_user.login %></li>
          <li>Followers: <%= @github_user.followers %></li>
          <li>Following: <%= @github_user.following %></li>
          <li>Starred: <%= @github_user.num_starred %></li>
        </ul>

        <ul><p>Organizations:</p>
          <% @github_user.orgs.each do |org| %>
            <li> <%= org %></li>
          <% end %>
        </ul>
    </div>
    <h4>Notifications</h4>
  <ul>
    <% @github_user.notifications.each do |note| %>
      <li> <%= note %></li>
    <% end %>
  </ul>

  <h4> Open Issues </h4>
    <% @github_user.issues.each do |issue| %>
      <p> Repo: <%= issue['repository']['name'] %></br>
          Title:<%= issue['title'] %></br>
          Status:<%= issue['state'] %></br>
          Created:<%= issue['created_at'] %></br>
      </p>
    <% end %>

  </div>

  <div class="column one-fourth">
      <h4> Repositories</h4>
      <ul>
      <% @github_user.repositories.each do |repo| %>
        <li> <%= repo['name'] %></li>
      <% end %>
      </ul>
  </div>


  <div class="column one-fourth">
      <h4> Recent Activity </h4>
        <% @github_user.push_events.each do |event| %>
          <p> Pushed <%= event['payload']['commits'].length %> commit(s) to <%= event['repo']['name'] %> </p>
        <% end %>


      <h4> Recent Pull Requests </h4>

        <% @github_user.pull_requests.each do |event| %>
          <p>
            Pull Request to:<%= event['repo']['name'] %></br>
            Opened:<%= event['created_at'] %></br>
            Status:<%= event['payload']['pull_request']['state']%></br>
          </p>
        <% end %>

  </div>

<div class="column one-fourth">
      <h4> Followed Users' Recent Activity </h4>
      <h5> Pull Requests </h5>
        <ul>
          <% @github_user.received_pull_events.each do |event| %>
            <li> <%= event.actor['login'] %> made a pull request to <%= event.repo['name'] %> </li>
          <% end %>
        </ul>
        <h5> Commits </h5>
          <ul>
            <% @github_user.received_push_events.each do |event| %>
              <li> <%= event.actor['login'] %> pushed commit(s) to <%= event.repo['name'] %> </li>
            <% end %>
          </ul>
          <h5> Creates </h5>
            <ul>
              <% @github_user.received_create_events.each do |event| %>
                <li> <%= event.actor['login'] %> created a <%= event.payload['ref_type'] %> repo: <%= event.repo['name'] %></li>
              <% end %>
            </ul>
  </div>

  </div>
