<h1>Github Profile</h1>
  <h4><%= @github_user.name %></h4>
  <h5><%= @github_user.login %></h5>

  <div class="column one-fourth">
    <div class = "well">
      <h4>Account Information</h4>
        <img src="<%= @github_user.avatar_url %>" alt="Profile Image"/></img>
        <ul>
          <li>Name: <%= @github_user.name %></li>
          <li>Login: <%= @github_user.login %></li>
          <li>Followers: <%= @github_user.followers %></li>
          <li>Following: <%= @github_user.following %></li>
          <li>Starred: <%= @github_user.starred %></li>
        </ul>
    </div>
  </div>

  <div class="column one-fourth">
      <h4> Repositories</h4>
      <ul>
      <% @github_user.repositories.each do |repo| %>
        <li> <%= repo['name'] %></li>
      <% end %>
      </ul>
  </div>



  <div class="column one-fourth">
      <h4> Recent Activity </h4>
      <ul>
        <% @github_user.push_events.each do |event| %>
          <li> Pushed <%= event['payload']['commits'].length %> commit(s) to <%= event['repo']['name'] %> </li>
        <% end %>
      </ul>

  </div>

  <div class="feeds">
      <h4>Feeds</h4>

      <a href="https://github.com/timeline" type="application/atom+xml"/>Timeline</a>
    


    <ul>
      <% @github_user.feeds.each do |feed| %>
        <li> <%= feed %></li>
      <% end %>

    </ul>
  </div>
